.skills {
   grid-area: main;
   margin-top: 103px;
   color: var(--white);
   animation: typing 2s steps(60);
}
@keyframes typing {
   from {
      text-indent: -1000px;
   }
   to {
      text-indent: 0;
   }
}
.skills__content {
   display: flex;
   column-gap: 100px;
}

.skills__content-avatar__block__img {
   max-width: 633px;
   max-height: 870px;
   height: auto;
   border-radius: 60px;
   box-shadow: 5px 0px 26px #000000;

   animation: next 10s linear infinite;
}

/* Уровни */

.skills__content__wrapper {
   display: flex;
   flex-direction: column;
   column-gap: 38px;
}

.skills__content__level {
   max-width: 700px;
   max-height: 136px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.skills__content__level__title {
   font-weight: 400;
   font-size: 64px;
   line-height: 1.43;
}

.skills__content__level__wrapper {
   width: 700px;
   height: 40px;
   overflow-y: hidden;
   border-radius: 69px;
   background: #fff;
   box-shadow: 10px 0px 36px #000000;
   background-image: url('./avatar.jpeg') no-repeat;
   animation: scale 3s linear;
}
@keyframes scale {
   0% {
      width: 0px;
      background-color: #fff;
   }
   50% {
      width: 350px;
      background-color: #f2f2f2;
   }
   100% {
      width: 700px;
      background-color: #fff;
   }
}

.skills__content__level__scale {
   height: 100%;
   width: 20%;
   border-radius: 60px;
   background-color: #0d7377;
   z-index: 2;
   border: 1px solid #0d7377;
   box-shadow: 10px 0px 36px #000000;
}

.skills__content__level__scale-js {
   width: 25%;
   animation: box 20s ease infinite;
}

.skills__content__level__scale-css {
   width: 30%;
   animation: box 25s ease infinite;
}

.skills__content__level__scale-react {
   width: 29%;
   animation: box 35s ease infinite;
}
.skills__content__level__scale-redux {
   width: 10%;
   animation: box 30s ease infinite;
}
@keyframes box {
   0% {
      width: 25%;
   }
   50% {
      width: 35%;
   }
   100% {
      width: 25%;
   }
}
