.skills {
   grid-area: main;
   margin-top: 103px;
   color: var(--white);
   animation: typing 2s steps(60);
}
@keyframes typing {
   from {
      text-indent: -1000px;
   }
   to {
      text-indent: 0;
   }
}
.skills__content {
   display: flex;
   column-gap: 100px;
}

.skills__content__avatar-block {
   max-width: 633px;
   max-height: 870px;
   overflow: hidden;
   background: rgba(13, 116, 119, 0.261);
   border-radius: 60px;
}

.skills__content-avatar__block__img {
   max-height: auto;
   max-width: 100%;
   height: auto;
   border-radius: 60px;
}

/* Уровни */

.skills__content__wrapper {
   display: flex;
   flex-direction: column;
   column-gap: 38px;
}

.skills__content__level {
   max-width: 700px;
   max-height: 136px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.skills__content__level__title {
   font-weight: 400;
   font-size: 64px;
   line-height: 1.43;
}

.skills__content__level__wrapper {
   width: 700px;
   height: 40px;
   overflow-y: hidden;
   border-radius: 69px;
   background: #fff;
   animation: scale 3s linear;
}

.skills__content__level__scale {
   height: 100%;
   width: 20%;
   border-radius: 60px;
   background-color: #0d7377;
   z-index: 2;
   border: 1px solid #0d7377;
}
.skills__content__level__scale-js {
   width: 25%;
}

.skills__content__level__scale-css {
   width: 30%;
}

.skills__content__level__scale-react {
   width: 30%;
}
.skills__content__level__scale-redux {
   width: 10%;
}

@keyframes scale {
   0% {
      width: 0px;
      background-color: #fff;
   }
   50% {
      width: 350px;
      background-color: #f2f2f2;
   }
   100% {
      width: 700px;
      background-color: #fff;
   }
}
